<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager by omajul</title>
</head>

<body>
	<% if current_user %>
	<h1>Welcome, <%= current_user.email %></h1>
	<% end %>
	<% if flash[:errors] && flash[:errors].any? %>
	Please refer to the following errors below:
	<ul id='errors'>
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>
	<%= yield %>  <!-- this then yields to the view which has been called by your controller -->
</body>
</html>