<form action="/users" method='post'>
  <label for="email">
  e-mail:
  <input type='email' name='email'>
  </label>
  <label for="password">
  Password:
  <input type='password' name='password'>
  </label>
  <input type='submit' value='Sign Up'>
</form>