<% if current_user %>
<h1>Welcome, <%= current_user.email %></h1>
<br>
<form action='/sessions' method='post'>
	<input type='hidden' name='_method' value='delete'>
	<input type='submit' value='Sign Out'>
</form>
<% end %>